<%= form_with model: @place do |form| %>
  <p>
    <%= form.label "name", "Location Name" %>
    <%= form.text_field "name" %>
    </p>
    <p>
    <%= form.label "date", "Date of Trip"%>
    <%= form.text_field "date" %>
     </p>
  <%= form.submit %>
<% end %>
    